# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/
.venv-1/

# Node
node_modules/

# Environment
.env

# IDE
.vscode/

# Logs
*.log

# Docker
*.pid
